/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/framework/views
*.log
.env.production
.phpactor.json
/.codex
/.cursor/
/.nova
/.zed
/auth.json
/public/fonts-manifest.dev.json
/public/storage
/storage/pail
_ide_helper.php
Thumbs.db
